.cityInfo {
    text-align: center;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    margin-top: 20px;

}

.populationTitle{
    font-size: 15px;
    padding: 5px;
}
.populationText{
    font-size: 30px;
}

.newSearch {
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: none;
  background: none;
  
}