.cityBtn {
    margin-top: 5px; 
}

.cityBtnGroup {
    text-align: center; 
    margin-top: 20px;    
}

Button {
    width:50%;
    display:block;
}

@media screen and (max-width: 500px) {
    Button {
      width:100%;    
    }
  }