.cityBtn {
 
    margin-top: 5px;
   
}

.cityBtnGroup {
 
    text-align: center;
        
        
}

Button {

    width:50%;
    display:block;

}

@media screen and (max-width: 500px) {
    Button {
      width:100%;
      
    }
  }